<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">

                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key} == ${selectedColumn} or ${column.key} == 'all'"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #2 - Loop over jobs map to display all job fields -->

    <div th:fragment="jobs-list">
    <div th:if="${jobs} and ${jobs.size()}">
        <h3 th:text="${jobs.size()+' Result(s)'}" ></h3>
            <tr th:each="job, idx : ${jobs}" th:class="${idx.odd} ? 'odd'">
                <table th:class="job-listing">
                    <tr th:each="job1 : ${job}">
                        <th th:text="${#strings.capitalizeWords(job1.key)}">keyvalue</th>
                        <td th:text="${job1.value}">num</td>
                    </tr>
                </table>


            </tr>


    </div>
    </div>

</div>

</body>
</html>

